html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 640px;
    height: 510px;
    background: #ffffff;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 19px;
    color: #000000;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.wrapper {
    margin: 25px auto;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* section-weather ============================*/
section.weather-app {
    width: 600px;
    height: 470px;
}

    .row-search {
        height: 35px;
    }

        .row-search__search {
            width: 450px;
            border: 1px solid black;
        }

            input.search-input {
                width: 92%;
                height: 100%;
                border: none;
                opacity: 0.65;
                font-size: 22px;
                padding-left: 10px;
                outline: none;
            }

            input.search-input:focus {
                opacity: 1;
            }

            input.submit {
                width: 8%;
                background-image: url(../img/lupa-search.png);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: 5px 7px;
            }

        .row-search__time {
            width: 150px;
            border: 1px solid black;
            border-left: none;
            text-align: center;
            padding-top: 7px;
            font-size: 20px;
        }
    .row-main {
        height: 440px;
    }

        .row-main__media {
        }

            .row-main__media-screen {
                height: 410px;
                width: 300px;
                flex-direction: column;
                border: 1px solid black;
                border-top: none;
            }

                .media__temp {
                    font-size: 76px;
                    font-weight: 500;
                    height: 120px;
                }

                    span.temp {
                        margin-left: 20px;
                        margin-top: 40px;
                    }

                    sup {
                        font-weight: 300;
                        font-size: 52px;
                        margin-left: -10px;
                    }

                .media__icon {
                    /* background-color: lightsalmon; */
                    height: 200px;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px
                }

                    .description {
                        font-weight: 500;
                    }

                .media__details {
                    background-color: lightskyblue;
                }

                .media__favorite {
                    justify-content: space-between;
                    height: 80px;
                    width: 100%;
                }

                  .media__activated-city {
                      margin-left: 10px;
                      margin-top: 40px;
                  }  

                    .activated-city {
                        text-transform: capitalize;
                    }

                  .media__icon-favorite-city {
                      margin-top: 25px;
                      margin-right: 5px;
                  }

            .row-main__media-menu {
                height: 30px;
                width: 300px;
                border: 1px solid black;
                border-top: none;
            }

                .menu-button {
                    width: 33.3%;
                    height: 30px;
                    font-size: 20px;
                }

                .button-active {
                    background-color: black;
                    color: white
                }

        .row-main__locations-list {
            width: 300px;
        }

            .locations-list-title {
                height: 75px;
                border-right: 1px solid black;
                text-align: center;
                padding-top: 25px;
            }

            .locations-list-list {
                height: 365px;
                border: 1px solid black;
                border-left: none;
                flex-direction: column;
                flex-wrap: nowrap;
                overflow-y: scroll;
            }
.favorite-city {
    margin-left: 20px;
    line-height: 5px;
    height: 40px;
    font-weight: 500;
    font-size: 25px;
}